html{
    font-family: sans-serif;
}
body{
    margin: 0;
    background-color:white;;
}

.navbar{
    display:flex;
    justify-content: space-evenly;
    margin:20px 0 20px 0;

}
.navbar-menu a {
    color: #494646;
    text-decoration: none;
}
.navbar-menu{
    word-spacing: 20px;
    font-weight: 500;
}
#top-section{
    background-image: url(images/Friends.jpg);
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.start-button{
    margin-bottom: 10px;
}
#button1{
    background-color: green;
    border-radius: 28px;
    padding: 8px 15px;
    border: none;
    color: #ffffff;
    
}
#top-section{
    background-image: url(images/Friends.jpg);
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section h1{
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 15px;
}
#top-section p{
    font-size:  2em;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}
.play-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 100px;
}
.new-form h6{
    font-size: .9em;
        color:#ffffff ;
    text-align: center;
   font-weight: 100
}
.new-form{
    text-align: center ;
}
.new-form input{
    margin: 0;
    width: 20%;
    height: 30px;
    font-size: 15px;
    padding-left: 15px;
    border: none;

}
.new-form button{
     width: 30%;
    height: 30px;
    font-size:15px;
    padding-left: 15px;
    font-weight: 100;
    background-color: #6dc77a;
    color: #ffffff;
    border: none;
}
.feature-section{
    width: 67%;
        text-align: center;
       font-weight: 150;
       line-height: 1.5em;
      margin: auto;
      padding-top: 50px;

}


.feature-content{
    display: flex;
    text-align: center;
    
}
#showcase1-container{
    background-color: rgb(211, 205, 205);
    padding-top: 20px;
}


.img img{
    width: 300px;
    height: 200px;
}
.showcase{
    display: flex;
    align-items: center;
}

.feature-text{
    width: 50%;
    padding-left: 100px;
}
#showcase2-container{
    background-color: rgb(228, 222, 222);
    padding-top: 20px;
}
#call-to-action {
    background-image: url(images/Darkdesk.png);
    background-position: 50% 50%;
    padding-bottom: 45px;
}
.matter {
    width: 80%;
    margin: auto;
}
.title {
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}
.matter p {
    font-size: 1.6em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 100px;
}
.signupBTN {
    background-color: #6dc77a;
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    padding: 30px 90px;
}
.showcase-signup{
   display: flex;
   justify-content: space-between;
   
}
.signupform {
    background-color: #f6f8fa;
    margin-right: 200px;
    padding: 0px 50px 10px 50px;
}

.signupform h6 {
    color: black;
    padding-top: 15px;
    font-size: .9em;
    text-align: center;
}
.top-margin {
    margin-top:100px;
    margin-left: 100px;
}
input {
    margin: 0;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    border: none;
    margin-top: 15px;
    
}
.button-signup {
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    background-color: #6dc77a;
    color: #ffffff;
    border: none;
    margin-top: 15px;
}
footer {
    background-color: black;
    clear: both;
    height: 500px;
    background-image: url(../images/footerbg.png);
    background-position: 50% 50%;
}
.social-icons {
    display: flex;
    justify-content: space-around;
}
.social-footer:hover {
    background-color: black;
    opacity: .5;
}
.center {
    width: 50px;
    margin: auto;
    padding-top: 60px;
}
.copyright {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    display: block;
}